main .wrapper{
    margin-top: 50px;
    #search{
        border: 1px solid rgba(0,0,0,0.3);
        margin-left: 5px;
    }
}

.sc-ePzlA-D{
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 8px;
}

.secondary-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}