main .wrapper{
    margin-top: 50px;
    text-align: center;
    #search{
        border: 1px solid rgba(0,0,0,0.3);
        margin-left: 5px;
    }
    a{
        margin: 50px auto 0;
    }
}

.sc-ePzlA-D{
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 8px;
}
